Package: lc19
Version: 1.0
Maintainer: Austin Lehman <austin@rosevillecode.com>
Homepage: https://rosevillecode.com
Architecture: all
Pre-Depends: openjdk-14-jdk | openjdk-16-jdk | openjdk-17-jdk | openjdk-18-jdk
Description: Launch Complex 19 - Gemini Server in Java
