[Unit]
Description=Launch Complex 19 - Gemini Server in Java
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/opt/lc19
ExecStart=/bin/bash -c "java -jar lc19-*-full.jar"

[Install]
WantedBy=multi-user.target